@model IEnumerable<GuardarOrdenListado.Context.Authors>

@{
    ViewData["Title"] = "Lista de Autores";
}

<style>
    .tg-grid [tgcolumns="header"] {
        display: grid;
        grid-template-columns: 20px 100px 1fr 120px 300px;
    }

    .tg-grid [tgcolumns="row"] {
        display: grid;
        grid-template-columns: 20px 100px 1fr 120px 300px;
    }
</style>

<h1>Lista de Autores</h1>

<div name="table" class="tg-grid">

    <div label-grid="header" tgcolumns="header">
		<div></div>
		<div class="alingXcenter">Id</div>
		<div class="alingVcenter">Nombre del Autor</div>
        <div></div>
        <div></div>
    </div>

    <div class="lista" id="lista" keyList="1,@ViewBag.IdUser">
        @foreach (var item in Model) {
            <div class="item" data-id="@item.Id" label-grid="row" tgcolumns="row">
		        <div></div>
		        <div class="alingXcenter">@Html.DisplayFor(modelItem => item.Id)</div>
		        <div class="alingVcenter">@Html.DisplayFor(modelItem => item.NameAuthor)</div>
                <div class="alingXcenter">@Html.ActionLink("Libros", "ListBooks", "Home", new { @IdAuthor = item.Id }, new { @class = "btn btn-primary" })</div>
                <div></div>
            </div>
        }
    </div>

</div>

<p class="pt-2">@Html.ActionLink("Usuarios", "ListUsers", "Home", null, new { @class = "btn btn-primary" })</p>
